body{
    display:flex;
    align-items: flex-end;
    justify-content: center;
    min-height:100vh;
    background-image:linear-gradient(to bottom,rgb(1, 18, 43),#000);
    overflow:hidden;
    perspective: 1000px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.messagebox{
    height:25%;
    width:100%;
    position:absolute;
    top:0;
    color:white;
    font-size:3em;
    text-align: center;
    transition:.5s all;
}
.messagebox h1{
    text-shadow: #00c3ff 1px 1px 50px ;
}

#messagebox2{
    transform:translateY(-110%);
    overflow:hidden;
}

button{
    position:absolute;
    bottom:15%;
    border:2px solid white;
    font-size:3em;
    padding:1vh;
    border-radius: 15px;
    background: transparent;
    color:white;
    transition:.25s;
}

.vase{
    position:absolute;
    height:40%;
    width:15%;
    background-image:linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.527), rgba(116, 114, 114, 0.603));
    bottom:5%;
    border-radius:100% 100% 50px 50px;
    overflow:hidden
}

.vase__water{
    height:50%;
    width:100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgb(90, 142, 177), rgb(62, 219, 219));
    bottom:0;
    position:absolute;
}

button:hover{
    transform:scale(1.2);
    border:2px solid rgb(39, 75, 190);
    color:rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.486);
    box-shadow: white 1px 1px 20px;
}

.flowers{
    position:relative;
    transform:scale(0.7)
}

.flower{
    position:absolute;
    bottom:10vmin;
    transform-origin:bottom center;
    z-index: 10;
    --fl-speed:.8s;
}

.flower--1 .flower__line{
    height:60vmin;
    animation-delay: 0.3s;
}

.flower--1{
    animation: sway 4s linear infinite
}

.flower__leafs{
    position:relative;
}
.flower_leaf{
    position:absolute;
    bottom:0;
    left:50%;
    width:8vmin;
    height: 11vmin;
    border-radius: 51% 49% 47% 53%/44% 45% 55% 69%;
    background-color: rgb(0, 162, 255);
    background-image: linear-gradient(to top, rgb(48, 73, 126), rgb(98, 155, 221));
    transform-origin: bottom center;
    opacity: 0.9;
    box-shadow: inset 0 0 2vmin rgba(255, 255, 255, 0.5);
}

.flower__line__leaf{
    --w:7vmin;
    --h: calc(var(--w) + 2vmin);
    position:absolute;
    top:20%;
    left:90%;
    width:var(--w);
    height:var(--h);
    border-top-right-radius: var(--h);
    border-bottom-left-radius: var(--h);
    background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #39c6d6);
}
.flower__line__leaf--1{
    transform:rotate(70deg) rotateY(30deg)
}
.flower__line__leaf--2{
    top:45%;
    transform:rotate(70deg) rotateY(30deg)
}
.flower__line__leaf--3, .flower__line__leaf--4, .flower__line__leaf--6 {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: var(--h);
    border-bottom-right-radius: var(--h);
    left: -460%;
    top: 12%;
    transform: rotate(-70deg) rotateY(30deg) translate(-50%, -12%);
}
.flower__line__leaf--4 {
    top: 40%;
}
.flower__line__leaf--5 {
    top: 0;
    transform-origin: left;
    transform: rotate(70deg) rotateY(30deg) scale(0.6);
}
.flower__line__leaf--6 {
    top: -2%;
    left: -450%;
    transform-origin: right;
    transform: rotate(-70deg) rotateY(30deg) scale(0.6);
}
.flower__leaf--1{
    transform:translate(-40%, 10%) rotateY(60deg) rotateX(-30deg);
    height:15vmin;
    width:15vmin;
    
}
.flower__leaf--2{
    transform:translate(-50%, -5%) rotateX(30deg);
    width:15vmin;
    height:12vmin;
}
.flower__leaf--3{
    transform:translate(-60%, 10%) rotateY(40deg) rotateX(30deg);
    height:15vmin;
    width:12vmin;
}
.flower__leaf--4{
    width:12vmin;
    height:12vmin;
    transform-origin: bottom left;
    border-radius: 4vmin 10vmin 4vmin 4vmin;
    transform: translate(0%, 18%) rotateX(45deg) rotate(-45deg);
    background-image:linear-gradient(to top, rgb(48, 73, 126), rgb(98, 155, 221));
    z-index: 1;
    opacity: 0.8;
}
.flower__leaf--5{
    height:13vmin;
    width:8vmin;
    transform:rotate(60deg) translate(-35%, 30%);
    transform-origin:bottom;
}
.flower__leaf--6{
    height:15vmin;
    width:8vmin;
    transform:rotate(-55deg) translate(-20%, -10%);
    transform-origin: bottom;

}
.flower__line{
    height:10vmin;
    width:1vmin;
    background-image: linear-gradient(to left, rgba(0,0,0,0.2), transparent, rgba(255, 255, 255, .2)), linear-gradient(to top, transparent 10%, rgb(19, 75, 36), rgb(36, 182, 114));
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}
.flower__line .flower__line--1{
    transform:translate(0%, -100%) rotate(25deg);
    transform-origin: bottom;
    height:25vmin;
    background-image: linear-gradient(to top, transparent 10%, rgb(19, 75, 36), rgb(36, 182, 114));
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}
.flower__line.flower__line--1--1{
    transform:translate(0%, -100%) rotate(25deg);
    transform-origin: bottom;
    height:25vmin;
    background-image: linear-gradient(to top, transparent 10%, rgb(19, 75, 36), rgb(36, 182, 114));
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}
.flower__line .flower__line--2{
    transform:translate(0%, -175%) rotate(25deg);
    transform-origin: bottom;
    height:15vmin;
    background-image: linear-gradient(to top, transparent 10%, rgb(19, 75, 36), rgb(36, 182, 114));
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

@keyframes sway{
    0%{
        transform:rotate(0deg)
    }
    25%{
        transform:rotate(2deg)
    }
    50%{
        transform:rotate(0deg)
    }
    75%{
        transform:rotate(-2deg)
    }
    100%{
        transform:rotate(0deg)
    }
}